

header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  font-weight: bolder;
}
nav {
  background-color: #64aee2;
}
nav a {
margin-right: 20px; 
  text-decoration: none; 
  
  padding: 15px;
  height: 2px;
  justify-content: flex-end;
  text-align: left;
  color:white;
    justify-content: flex-start;

}
footer{
  background-color: #282c34;
  color: aliceblue;
  justify-content: center;
  text-align: center;
}
img{
 display: block;
  margin-left: auto;
  margin-right: auto;
}
nav {
  text-align: right;
}
p{
  text-align: left;
}